{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "ignorePatterns": ["choices.js", "simplebar.css", "simplebar.min.js"],
  "rules": {
    "semi": "off",
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "arrow-parens": "off",
    "new-cap": "off",
    "comma-dangle": "off",
    "operator-linebreak": "off",
    "quotes": "off",
    "padded-blocks": "off",
    "no-multiple-empty-lines": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}