.drop1-bg-1 {
  background-image: url("../img/dropdown/1-1.png");
}

.drop1-bg-2 {
  background-image: url("../img/dropdown/1-2.png");
}

.drop1-bg-3 {
  background-image: url("../img/dropdown/1-3.png");
}

.drop1-bg-4 {
  background-image: url("../img/dropdown/1-4.png");
}

.drop2-bg-1 {
  background-image: url("../img/dropdown/2-1.png");
}

.drop2-bg-2 {
  background-image: url("../img/dropdown/2-2.png");
}

.drop2-bg-3 {
  background-image: url("../img/dropdown/2-3.png");
}

.drop2-bg-4 {
  background-image: url("../img/dropdown/2-4.png");
}

.drop3-bg-1 {
  background-image: url("../img/dropdown/3-1.png");
}

.drop3-bg-2 {
  background-image: url("../img/dropdown/3-2.png");
}

.drop3-bg-3 {
  background-image: url("../img/dropdown/3-3.png");
}

.drop3-bg-4 {
  background-image: url("../img/dropdown/3-4.png");
}

.drop4-bg-1 {
  background-image: url("../img/dropdown/4-1.png");
}

.drop4-bg-2 {
  background-image: url("../img/dropdown/4-2.png");
}

.drop4-bg-3 {
  background-image: url("../img/dropdown/4-3.png");
}

.drop4-bg-4 {
  background-image: url("../img/dropdown/4-4.png");
}

.drop5-bg-1 {
  background-image: url("../img/dropdown/5-1.png");
}

.drop5-bg-2 {
  background-image: url("../img/dropdown/5-2.png");
}

.drop5-bg-3 {
  background-image: url("../img/dropdown/5-3.png");
}

.drop5-bg-4 {
  background-image: url("../img/dropdown/5-4.png");
}
