.gallery__modal .active {
  opacity: 1;
  z-index: 50;
}

.gallery__modal-wrap .active  {
  opacity: 1;
}

.gallery__modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(#000, .6);
  color: #333;
  transition: opacity .3s ease-out;
}

.gallery__modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  background-color: #fff;
  justify-content: space-between;
  transition: opacity .3s ease-in;
}

.gallery__modal.active {
  opacity: 1;
  z-index: 50;
}

.gallery__modal.active .gallery__modal-wrap  {
  opacity: 1;
}

.gallery__modal-img {
  width: 400px;
  background-image: url("../img/gallery/modal.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.gallery__modal-descr {
  flex-direction: column;
  width: 500px;
  padding: 121px 48px;
}

.gallery__modal-exit {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  top: 14px;
  right: 9px;
  border: none;
  background: none;
  cursor: pointer;
}

.gallery__modal-author {
  margin: 0 0 -1px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.7px;
}

.gallery__modal-name {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.gallery__modal-year {
  margin: 0 0 35px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.gallery__modal-text {
margin: 0;
font-size: 16px;
line-height: 32px;
letter-spacing: 0.6px;
}
