#choices--select1-item-choice-1 {
  background-image: url("../img/select1/1.png");
}
#choices--select1-item-choice-2 {
  background-image: url("../img/select1/2.png");
}
#choices--select1-item-choice-3 {
  background-image: url("../img/select1/3.png");
}
#choices--select1-item-choice-4 {
  background-image: url("../img/select1/4.png");
}


#choices--select2-item-choice-1 {
  background-image: url("../img/select2/1.png");
}
#choices--select2-item-choice-2 {
  background-image: url("../img/select2/2.png");
}
#choices--select2-item-choice-3 {
  background-image: url("../img/select2/3.png");
}
#choices--select2-item-choice-4 {
  background-image: url("../img/select2/4.png");
}



#choices--select3-item-choice-1 {
  background-image: url("../img/select3/1.png");
}
#choices--select3-item-choice-2 {
  background-image: url("../img/select3/2.png");
}
#choices--select3-item-choice-3 {
  background-image: url("../img/select3/3.png");
}
#choices--select3-item-choice-4 {
  background-image: url("../img/select3/4.png");
}


#choices--select4-item-choice-1 {
  background-image: url("../img/select4/1.png");
}
#choices--select4-item-choice-2 {
  background-image: url("../img/select4/2.png");
}
#choices--select4-item-choice-3 {
  background-image: url("../img/select4/3.png");
}
#choices--select4-item-choice-4 {
  background-image: url("../img/select4/4.png");
}



#choices--select5-item-choice-1 {
  background-image: url("../img/select5/1.png");
}
#choices--select5-item-choice-2 {
  background-image: url("../img/select5/2.png");
}
#choices--select5-item-choice-3 {
  background-image: url("../img/select5/3.png");
}
#choices--select5-item-choice-4 {
  background-image: url("../img/select5/4.png");
}



