@import "choices.min.css";
// ----
.section-title {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
}

.text {
  font-size: 16px;
  line-height: 32px;
}

.inside-titles {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.btn {
  position: relative;
  padding: 27px 37px;
  overflow: hidden;
  background-color: #9d5cd0;
  border-radius: 100px;
  color: #fff;
  font-weight: 700;
  outline: none;
  border: none;
  letter-spacing: 1.1px;
}

.nav-mobile__btn {
  padding: 18px 90px 15px 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background-color: inherit;
  border: 2px solid #9d5cd0;
  transform: translateY(60px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out, background-color 0.2s ease-in;
  cursor: pointer;
  letter-spacing: 0;
}

.nav-mobile__btn.open {
  transform: translateY(0px);
  opacity: 1;
}

.nav-mobile__btn:hover,
.nav-mobile__btn:focus {
  background-color: $accent-color;
  border: 2px solid $outline-color;
}

.nav-mobile__btn:active {
  background-color: $outline-color;
}


  // ----

#header {
  position: relative;
}

.header__top {
  position: relative;
  background-color: #000;
}

.header__top-wrap,
.header__top-nav,
.header__lists {
  align-items: center;
}

.header__top-logo {
  padding: 30px 0 29px;
  margin-right: 179px;
}

.header__logo-img {
  width: 173px;
}

.header__top-wrap {
  justify-content: flex-start;
}

.header__top-nav {
  position: relative;
}

.header__lists {
  position: relative;
  left: -4px;
  top: -1px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header__list:not(:last-child) {
  margin-right: 50px;
}

.header__login {
  position: relative;
  left: 7px;
  flex-shrink: 0;
  margin-left: auto;
  font-weight: 400;
  text-align: right;
}

.header__login svg {
  margin-right: 3px;
}

.header__link {
  font-weight: 600;
}

.header__link svg {
  margin-right: 3px;
}

.header__down {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 10;
  transform: translateY(-2px);
}

.header__down-wrap {
  justify-content: space-between;
}

.header__down-dropdown {
  flex-wrap: wrap;
}

.header__down-search {
  position: relative;
  top: 4px;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  padding: 20px 0;
}

.header__slider {
  position: relative;
}

.header__slider .swiper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#header .swiper-wrapper {
  animation: scale 10s linear 1s alternate-reverse infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.slide-img  {
  min-height: 620px;
}

.header-slide-1 {
  background: url('../img/main-slider/slider1-lg.jpg') center/cover no-repeat $grey-border;
}

.header-slide-2 {
  background: url('../img/main-slider/slider2-lg.jpg') center/cover no-repeat $grey-border;
}

.header-slide-3 {
  background: url('../img/main-slider/slider3-lg.jpg') center/cover no-repeat $grey-border;
}

.header__slider-descr {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 140px;
  padding-bottom: 123px;
  z-index: 5;
  pointer-events: none;
}

.header__title {
  width: 50%;
  margin: 0 0 21px;
  font-size: 72px;
  line-height: 82px;
  font-weight: 700;
}

.header__descr {
  width: 36%;
  margin: 0 0 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.header__button {
  pointer-events: auto;
  transition: background-color .3s ease-in-out, outline .1s ease-in-out;
}

.about-us {
  padding: 79px 0 70px;
}

.about-us__title {
  margin: 0 0 16px;
  color: #000;
}

.about-us__descr {
  width: 68%;
}

.gallery {
  padding: 81px 0 70px;
  background-image: url("../img/gallery-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.gallery-wrap {
  justify-content: space-between;
}

.gallery__filter {
  flex: 0 0 25%;
  align-self: flex-start;
}

.gallery__slider {
  position: relative;
  flex: 0 0 75%;
  width: 75%;
  padding: 84px 0 0 49px;
  margin: 0 0 9px;
  text-align: right;
}

.gallery__descr {
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 20%;
}

.gallery__filter-title {
  margin: 0 0 16px;
  color: #fff;
}

.gallery__filter-label {
  font-weight: 600;
  line-height: 32px;
}

.gallery__descr-text {
    font-weight: 600;
}

.gallery__descr-link {
  display: inline;
  color: $hover-color;
}

.gallery__descr-link::before {
  display: none;
}

#gallery .choices {
  left: 0;
  top: 10px;
  border-radius: 6px;
  border: 1px #fff solid;

}

#gallery .choices__list--single {
  padding: 10px 26px 12px 14px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .2s ease-in;
}

.choices__inner {
  vertical-align: center;
  background-color: initial;
  padding: 0;
  border: none;
  font-size: inherit;
  min-height: inherit;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

#gallery .choices__list--dropdown {
  left: -1px;
  top: 39px;
  padding: 0;
  box-sizing: content-box;
  border-radius: 6px;
  border: 1px #999 solid;
  background-color: inherit;
}

#gallery .choices__list--dropdown .choices__item--selectable {
  color: #999;
  font-size: 16px;
  line-height: 32px;
  padding: 4px 19px 2px;
  margin: 0;
}

#gallery .choices__list--dropdown .choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #999;
}

#gallery .choices__list--dropdown .choices__list {
  padding-right: 0;
}

#gallery .choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: #fff;
  background-color: rgb(255 255 255 / 20%);
}

#gallery .choices__list--dropdown .is-selected {
  display: none;
}

.choices[data-type*=select-one]:after {
  top: 43%;
  right: 15px;
  height: 8px;
  width: 8px;
  border-style: none;
  border-color: #fff;
  border-bottom: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  transform-origin: center;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 2px;
  border-color: inherit;
  transform: rotate(225deg);
}

.gallery .swiper-slide {
  box-sizing: border-box;
  border: 3px solid transparent;
  outline: none;
  padding: 0;
  background-color: transparent;
}

.gallery__slider-img {
  display: block;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}

#gallery .swiper-button-prevG,
#gallery .swiper-button-nextG {
  position: absolute;
  top: 24px;
  color: inherit;
  border-radius: 100%;
  background-color: #666;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
}

#gallery .swiper-button-prevG:after,
#gallery .swiper-button-nextG:after,
#projects .projects__btn-prev:after,
#projects .projects__btn-next:after {
  position: relative;
  content: '';
  top: -1px;
  font-family: swiper-icons;
  font-size: 11px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

#gallery .swiper-button-prevG:after,
#gallery .swiper-button-nextG:after {
  color: #fff;
  left: 0;
}

#gallery .swiper-button-prevG {
  left: 53px;
}

#gallery .swiper-button-nextG {
  left: 154px;
}

#gallery .swiper-button-prevG:after {
  content: 'prev';
}

#gallery .swiper-button-nextG:after {
  content: 'next';
}

.gallery .swiper-pagination {
  top: 33px;
  left: 102px;
  height: 20px;
  width: 50px;
  text-align: left;
}

.gallery .swiper-button-disabled,
.gallery .swiper-button-disabled {
  opacity: 1;
  background-color: #B2B2B2;
}

.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalog__title {
  margin: 0 0 16px;
}

.catalog__descr {
  width: 68%;
  margin: 0 0 40px;

}

.catalog__items {
  justify-content: space-between;
}

.catalog__items-card,
.catalog__items-accordion {
  flex: 0 0 50%;
}

.catalog__items-card {
  padding-right: 50px;
  opacity: 0;
}

.catalog__items-card.is-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}


.catalog-card__img {
  margin: 0 0 29px;
}

.catalog-card__title {
  margin: 0 0 9px;
}

.catalog-card__date {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.catalog-card__descr_empry{
  margin-bottom: 15px;
  width: 55%;
  line-height: 22px;
}

#catalog .ui-accordion-header {
  display: flex;
  padding: 32px 0;
  margin: 0 0 -1px;
}

.accordion-item__head {
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
  transition: border .1s ease-in;
}

.accordion-item__head-btn {
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 100%;
  border: none;
  transition: transform .2s ease-in-out, border .1s ease-in, background-color .3s ease-in;
}

.ui-accordion-header-active {
  border-top: 1px solid $active-color;
  border-bottom: 1px solid $active-color;
  color: $active-color;
}

.accordion-item__head-title {
  transition: color .2s ease-in-out, background-color .2s ease-in;
}

.ui-accordion-header-active .accordion-item__head-btn {
  border: 2px solid $accent-color;
  background-color: $outline-color;
  transform: rotate(180deg);
  transform-origin: center;
}

.accordion-item__head-btn svg {
  position: relative;
  top: 3px;
}


#catalog .accordion-item__body {
  padding: 25px 25px 25px 0;
  line-height: 32px;
}

.accordion-item__body-list {
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  max-height: 319px;
}

.accordion-item__body-link {
  margin-right: 7.8%;
  min-width: 196px;
  transition: color .3s ease-in-out, outline .3s ease-in-out, background-color .2s ease-in;
}

#catalog .body-empty {
  padding: 25px 0;
  justify-content: flex-start;
  align-items: center;
}

.body-empty__left {
  padding: 12px;
  margin-right: 24px;
  border: 1px solid #B7B7B7;
}

.body-empty__left-bg {
  width: 251px;
  height: 165px;
  background-color: #B7B7B7;
}

.body-empty__right-title,
.body-empty__right-descr {
  margin: 0 0 5px;
}

.body-empty__right-descr {
  width: 55%;
  font-size: 16px;
  line-height: 22px;
}

.body-empty__right-link {
  position: relative;
  left: -6px;
  color: $accent-color;
  font-weight: 600;
}

.events {
  margin-bottom: 38px;
}

.events__title {
  margin: 0 0 16px;
}

.events__slider-wrap {
  padding-bottom: 42px;
}

.event-card {
  flex-direction: column;
  box-sizing: border-box;
}

.event-card__top {
  width: auto;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.event-card__bottom {
  padding: 12px 49px 42px;
  min-height: 400px;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid $grey-border;

}

.event-bg1 {
  background-image: url("../img/events/lg-event1.jpg");
}

.event-bg2 {
  background-image: url("../img/events/lg-event2.jpg");
}

.event-bg3 {
  background-image: url("../img/events/lg-event3.jpg");
}

.event-bg4 {
  background-image: url("../img/events/lg-event4.jpg");
}

.event-bg5 {
  background-image: url("../img/events/lg-event5.jpg");
}

.event-card__bottom-location,
.event-card__bottom-date {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.event-card__bottom-date {
  margin: 0 0 13px;
}

.event-card__bottom-title {
  margin: 0 0 9px;
  line-height: 33px;
  width: 95%;
}

.event-card__bottom-descr {
  margin: 0 0 15px;
}

.event-card__bottom-link {
  display: inline-block;
  margin-top: auto;
  padding: 0;
  font-size: 16px;
  line-height: 25px;
  color: $accent-color;
  border-bottom: 1px solid $accent-color;
}

.events__pagination {
  display: none;
}

.events .swiper-button-prev,
.events .swiper-button-next,
#projects .projects__btn-prev,
#projects .projects__btn-next {
  border-radius: 100%;
  background-color: #ECECEC;
  transition: background-color .2s ease-in;
}

.events .swiper-button-prev,
.events .swiper-button-next {
  top: 52%;
  width: 50px;
  height: 50px;
  border: none;

}

.events .swiper-button-prev:after,
.events .swiper-button-next:after {
  position: relative;
  font-size: 18px;
  color: #000;
}

.events .swiper-button-prev:after {
  left: -2px;
}

.events .swiper-button-next:after {
  left: 2px;
}

.events .swiper-button-disabled,
.events .swiper-button-disabled {
  opacity: 1;
}

.events .swiper-button-disabled:after,
.events .swiper-button-disabled:after {
  color: #BBB;
}

.events .swiper-button-prev {
  left: 23px;
}

.events .swiper-button-next {
  right: 23px;
}

.events .swiper-button-disabled {
  opacity: 0;
}

.events .events__pagination {
  position: absolute;
  bottom: -1px;
  text-align: center;
}

.events .swiper-pagination-bullet-active {
  background-color: #666;
}

#events .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 7px;
}

.projects {
  margin-bottom: 56px;

}

.projects__title {
  margin: 0 0 16px;
}

.projects__descr {
  width: 66%;
  margin: 0 0 20px;
}

.projects__tooltip {
  padding: 0 5px;
  margin-right: 4px;
  display: inline-block;
  border-radius: 100%;
  outline: 1px solid #9d5cd0;
  background-color: inherit;
  border: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
  transition: color .2s ease-in, background-color .2s ease-in-out;
}

.tippy-box[data-theme~='blanchard'] {
  //position: relative;
  top: -4px;
  padding: 4px;
  background-color: $accent-color;
  border-radius: 0;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.tippy-box[data-theme~='blanchard'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: $accent-color;
}


.projects__link {
  padding: 0;
  color: $accent-color;
  font-size: 16px;
  line-height: 32px;
}

.projects-main {
  display: none;
}

.projects-about {
  display: none;
}

.projects__sliderWrap {
  position: relative;
  padding: 23px 74px;
}

.projects__slider {
  padding: 0 1px;
}

.projects__slides {
  box-sizing: border-box;
}

.projects__slides-link {
  position: relative;
  display: block;
  max-width: 450px;
  height: 150px;
  border: 1px solid $grey-border;
  opacity: .7;
  transition: opacity .2s ease-in;
}

.projects__slides-icon {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition: filter .2s ease-in-out;
}

.icon-1 {
  width: 55%;
}

.icon-2 {
  width: 73%;
}
.icon-3 {
  width: 32%;
}
.icon-4 {
  width: 26%;
  top: 55%;
}
.icon-6 {
  width: 40%;
}

#projects .projects__btn-prev,
#projects .projects__btn-next {
  position: absolute;
  top: 43%;
  width: 30px;
  height: 30px;
  color: #000;
  cursor: pointer;
}

#projects .projects__btn-prev {
  left: 0;
}

#projects .projects__btn-next {
  right: 0;
}



#projects .projects__btn-prev:after,
#projects .projects__btn-next:after {
  color: #000000;
  top: 14%;
}

#projects .projects__btn-prev:after {
  content: 'prev';
  left: 38%;
}

#projects .projects__btn-next:after {
  content: 'next';
  left: 45%;
}

.contacts {
  position: relative;
}

.contacts__wrap {
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
}

.contacts__map {
  height: 700px;
  width: 100%;
  margin: 0 auto;
  transition-property: width, height, padding;
  transition-duration: 100ms;
}

[class*="ground-pane"] {
  filter: grayscale(1);
  transition: filter .4s ease-in-out;
}

[class*="inner-panes"]:hover [class*="ground-pane"],
[class*="inner-panes"]:focus [class*="ground-pane"], {
  filter: grayscale(0);
}

.contacts__top {
  padding-top: 38px;
  padding-bottom: 27px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contacts__top-address {
  margin-right: 18px;
  margin-bottom: 15px;
}

.contacts__top-address-title {
  margin: 0 0 11px;
}

.contacts__top-address-text {
  margin: 0;
}

.contacts__top-form-label {
  position: relative;
}

.contacts__top-form-input {
  width: 270px;
  padding: 15px 25px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #333333;
  border-radius: 100px;
  transition: background-color .2s ease-in, color .2s ease-in-out;
}

.contacts__top-form-input::placeholder {
  color: #999;
}

.contacts__top-form-label {
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  left: 6%;
  top: 0;
  font-size: 12px;
  color: #D11616 !important;
  transform: translateY(-30px);
}

.contacts .just-validate-error-field {

  border: 1px solid #D11616;
  color: #999;
  transition: border-left-color .2s ease-in;
}

.contacts .just-validate-error-label[data-tooltip=true]:before {
  border: none;
}

.contacts__top-form-btn {
  padding: 10px 34px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 25px;
  color: $accent-color;
  background-color: #fff;
  border: 2px solid $accent-color;
  letter-spacing: 0;
  transition: background-color .2s ease-in, color .2s ease-in;
}

.contacts__top-form-btn_mobile {
  display: none;
}


.contacts__top-social {
  flex-direction: column;
  align-items: flex-start;
}

.social__title {
  margin: 0 0 4px;
}

.social__list-item {
  margin-right: 20px;
  margin-bottom: 10px;
}

.social__icon {
  transition: opacity .2s ease-in-out;
  border-radius: 100%;
}

.footer {
  background-color: #000;
}

.footer__wrap {
  padding-top: 47px;
  padding-bottom: 47px;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  cursor: pointer;
}

.footer__logo {
  height: 40px;
  width: auto;
}

.footer__social-item:not(:last-child) {
  margin-right: 17px;
}

.footer__social-icon path {
  transition: .2s ease-in-out;
}
