.links {
  position: relative;
  padding: 6px;
  transition: color .3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 1;
  font-size: 18px;
  line-height: 25px;
}

.links path {
  transition: fill .3s ease-in-out;
}

.links:focus,
#header .choices:focus {
  background-color: $active-color;
  color: #fff;
}

.links:hover,
#header .choices:hover {
  color: $hover-color;
}

.links:active,
#header .choices:active {
  color: $active-color;
  background-color: inherit;
 }

.links:hover path {
  fill: $hover-color;
}

.links:active path {
  fill: $active-color;
}

.search-form__input:focus {
  outline: none;
  border-bottom: 1px solid $hover-color;
}

.search-form__input:focus::placeholder {
  opacity: 0;
}

.search-form__input:hover {
  border-bottom: 1px solid $hover-color;
}

.search-form__input:active {
  border-bottom: 1px solid $active-color;
}

.header__button:focus {
  outline: 2px solid $hover-color;
  outline-offset: 5px;
}

.header__button:hover {
  outline: 3px solid #D1A9F0;
  outline-offset: 0;
}

.header__button:active {
  outline: 3px solid #D1A9F0;
  background-color: $active-color;
  outline-offset: 0;
}

.gallery__slider-img:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translate(-50%, -50%);
  background-size: 10px 10px, 100% 100%;
  background: url("../img/hover-gl.svg") no-repeat 50% 50%, rgba(0, 0, 0, .5);
}

.accordion-item__body-link:hover {
  color: $accent-color;
  border-bottom: 1px solid $accent-color;
  margin-bottom: -1px;
}

.accordion-item__body-link:focus {
  background-color: $accent-color;
  color: #fff;
}

.accordion-item__body-link:active {
  background-color: inherit;
  color: $active-color;
  border: none;
  margin-bottom: 0;
}

.accordion-item__head:hover .accordion-item__head-title {
  color: $accent-color;
  background-color: initial;
}

.accordion-item__head:active .accordion-item__head-title {
  color: $active-color;
  background-color: initial;
}

.accordion-item__head:hover .accordion-item__head-btn {
  background-color: $outline-color;
}

.accordion-item__head:hover {
  border-top: 1px solid $outline-color;
  border-bottom: 1px solid $outline-color;
  z-index: 1;
}

.ui-state-focus .accordion-item__head-btn {
  background-color: $outline-color;
  outline: none;
}

.ui-state-focus .accordion-item__head-title {
  background-color: $active-color;
  color: #fff;
}

.accordion-item__head:focus {
  outline: none;
}

.gallery__descr-link:hover {
  color: $outline-color;
}

.gallery__descr-link:active {
  color: $active-color;
}


#gallery .swiper-button-prevG:hover,
#gallery .swiper-button-nextG:hover {
  background-color: $accent-color;
}

#gallery .swiper-button-prevG:focus,
#gallery .swiper-button-nextG:focus {
  outline-offset: -1px;
  outline: 2px solid #000;
}

#gallery .swiper-button-prevG:active,
#gallery .swiper-button-nextG:active {
  background-color: $active-color;
  outline: 2px solid #000;
}

.gallery .swiper-slide:focus {
  outline-offset: 3px;
  outline: 1px solid $accent-color;
}

#gallery .choices__list--single:hover,
#gallery .choices__list--single:focus {
  background-color: rgba(255, 255, 255, .2);
}

#projects .projects__btn-prev:hover,
#projects .projects__btn-next:hover,
.events .swiper-button-prev:hover,
.events .swiper-button-next:hover {
  background-color: $outline-color;
}

#projects .projects__btn-prev:focus,
#projects .projects__btn-next:focus,
.events .swiper-button-prev:focus,
.events .swiper-button-next:focus {
  outline: 2px solid $accent-color;
}

#projects .projects__btn-prev:active,
#projects .projects__btn-next:active,
.events .swiper-button-prev:active,
.events .swiper-button-next:active {
  background-color: $outline-color;
  outline: 2px solid $accent-color;
}

.projects__tooltip:hover,
.projects__tooltip:focus {
  background-color: $outline-color;
}

.projects__tooltip:active {
  background-color: $active-color;
  color: #fff;
}

.projects__slides-link:hover {
  opacity: 1;
}

.projects__slides-link:hover .projects__slides-icon {
  filter: grayscale(0);
}

.projects__slides-link:active {
  outline: 1px solid $accent-color;
  opacity: 1;
}

.projects__slides-link:active .projects__slides-icon {
  filter: grayscale(0);
}

.projects__slides-link:focus {
  outline-offset: -1px;
  outline: 1px solid $accent-color;
}

.social__list-link:hover .social__icon,
.social__list-link:focus .social__icon {
  opacity: .5;
}

.social__list-link:active .social__icon {
  opacity: 1;
  outline: 1px solid $active-color;
}

.contacts__top-form-input:hover,
.contacts__top-form-input:focus {
  background-color: #EAEAEA;
  outline: none;
}

.contacts__top-form-input:active {
  background-color: #fff;
  outline: none;
}

.contacts__top-form-btn:hover,
.contacts__top-form-btn:focus {
  background-color: $accent-color;
  color: #fff;
}

.contacts__top-form-btn:active {
  background-color: $active-color;
}

.footer__social-link:hover .footer__social-icon path,
.footer__social-link:focus .footer__social-icon path {
  outline: none;
  fill: #fff;
  border-radius: 100%;
}

.footer__social-link:active .footer__social-icon path {
  outline: none;
  fill: $accent-color;
  border-radius: 100%;

}
