@media only screen and (max-width : 1440px) {
  .dropdown__item:not(:last-child) {
    margin-right: 55px;
  }
}


@media only screen and (max-width : 1326px) {
  .header__down-wrap,
  .header__top-nav,
  .login-link {
    display: none;
  }

  .header__wrap,
  .header__top-burger,
  .header__top-nav-mobile,
  .header__top-search-btn {
    display: inherit;
  }

  .deactivation-link {
    opacity: .1;
    pointer-events: none;
  }

  .header__top-wrap {
    justify-content: space-between;
  }

  .header__top-logo {
    padding: 29px 0 26px;
    margin-right: 10px;
  }

  .nav-mobile__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }

  .nav-mobile__btn svg {
    margin-right: 3px;
  }

  .header__logo-img {
    width: 187px;
  }

  .header__login {
    display: none;
  }

  .header__slider-descr {
    padding-top: 113px;
    padding-bottom: 115px;
  }

  .header__title {
    margin: 0 0 13px;
    width: 100%;
  }

  .header__descr {
    width: 79%;
    margin: 0 0 132px;
  }

  .header__top-search.is-opened {
    display: flex;
    animation-name: search-open;
    animation-duration: .3s;
    background-color: #000;
  }

  .header__top-search.is-closed {
    animation-name: search-close;
    animation-duration: .3s;
  }

  .header__top-search-icon {
    top: 0;
    left: 0;
  }

  .button-wrap {
    margin-bottom: 108px;
  }

  .about-us {
    padding-bottom: 70px;
    padding-top: 81px;
  }

  .about-us__descr {
    width: 100%;
  }

  .header-slide-1 {
    background-image: url('../img/main-slider/slider1-md.jpg');
  }

  .header-slide-2 {
    background-image: url('../img/main-slider/slider2-md.jpg');
  }

  .header-slide-3 {
    background-image: url('../img/main-slider/slider3-md.jpg');
  }

  .gallery__descr {
    left: 50px;
  }

  .gallery__slider {
    padding: 85px 0 0 26px;
    margin: 0 0 11px;
  }

  .catalog__descr {
    width: 100%;
  }

  .catalog-card__descr_empry {
    width: 95%;
  }

  .catalog__items-card {
    padding-right: 25px;
  }
  .catalog__items-accordion {
    padding-left: 25px;
  }

  #catalog .accordion-item__body {
    padding: 26px 0 24px;
  }

  .accordion-item__body-list {
    max-height: 385px;
    align-content: space-between;
  }

  .accordion-item__body-link {
    margin-right: 0;
    min-width: inherit;
  }

  .body-empty__left-bg {
    width: 173px;
    height: 114px;
  }

  .body-empty__right-descr {
    width: 100%;
  }

  .events {
    margin-bottom: 78px;
  }

  .event-card__top {
    height: 200px;
  }

  .event-card__bottom {
    padding: 15px 32px 49px;
    min-height: 483px;
  }


  .event-card__bottom-location,
  .event-card__bottom-date {
    align-self: flex-end;
  }

  .event-card__bottom-date {
    margin: 0 0 3px;
  }

  .event-card__bottom-title {
    margin: 0 0 5px;
    width: 100%;
  }

  .event-card__bottom-descr {
    width: 99%;
  }

  .events__pagination {
    display: inherit;
  }

  .events__btn-prev,
  .events__btn-next {
    display: none;
  }

  .projects {
    margin-bottom: 57px;
  }

  .projects__title {
    margin: 0 0 17px;
  }

  .projects__descr {
    width: 100%;
  }

  .projects__sliderWrap {
    padding: 23px 53px 25px;
  }

  .projects__slides-link {
    width: auto;
    height: 126px;
  }

  .icon-1 {
    width: 55%;
  }

  .tippy-box[data-theme~='blanchard'][data-placement^='top'] > .tippy-arrow::before  {
    display: none;
  }

  .tippy-box[data-theme~='blanchard'] {
    top: 1px;
    padding: 3px;
  }

  #projects .projects__btn-prev,
  #projects .projects__btn-next {
    top: 42%;
  }

  .contacts__top {
    padding-top: 42px;
    padding-bottom: 32px;
  }

  .contacts__top-address {
    margin-bottom: 39px;
  }

  .contacts__top-form {
    margin-bottom: 15px;
  }

  .contacts__top-form-input {
    margin-right: 16px;
  }

  .contacts__top-form-btn {
    padding: 10px 41px;
    margin-right: 0;
  }

  .contacts__top-social {
    margin-left: 0;
  }

  .footer__wrap {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__social-icon {
    width: 60px;
    height: 60px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media only screen and (max-width : 1200px) {

  .gallery__filter {
    flex: 0 0 30.2%;
  }

  .gallery__slider {
    flex: 0 0 67%;
    width: 67%;
  }

  .gallery__descr {
    width: 23%;
    }

  .choices[data-type*=select-one]:after {
    right: 13px;
  }

  #gallery .swiper-button-prevG,
  #gallery .swiper-button-nextG {
    top: 24px;
  }

  .gallery .swiper-slide:hover::after {
    display: none;
  }

  #gallery .swiper-button-prevG {
    left: 25px;
  }

  #gallery .swiper-button-nextG {
    left: 127px;
  }

  #gallery .swiper-pagination {
    left: 74px;
    top: 32px;
  }

  .gallery__modal-wrap {
    height: 594px;
  }

  .gallery__modal-img {
    width: 264px;
  }

  .gallery__modal-descr {
    width: 330px;
  }

  #gallery .choices__list--dropdown {
    top: 39px;
  }
}


@media only screen and (max-width : 992px) {

  .header__descr {
    width: 100%;
  }

  .header__top-search label {
    flex-grow: 1;
    width: 100%;
  }

  .header__top-search.is-opened {
    width: 100%;
    padding: 36px 54px 29px 50px;
    right: 0;
    z-index: 20;
  }

  .search-form__input_mobile {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .search-form__button {
    position: relative;
    top: 0;
    left: -6px
  }

  .search-form__close {
    position: relative;
    top: -4px;
    left: 6px;
    margin-left: 18px;
    width: 33px;
    height: 33px;
  }


  .gallery-wrap {
    flex-direction: column;
  }

  .gallery__filter {
    flex: 0 0 100%;
  }

  .filter-wrap {
    align-items: flex-start;
    min-height: 880px;
  }

  #gallery .choices {
    width: 280px;
  }

  .choices[data-type*=select-one]:after {
    right: 14px;
  }

  .gallery__filter {
    flex: 0 0 100%;
    margin: 0 0 10px;
  }

  .gallery__filter .is-open {
    margin: 0 0 80px;
  }

  .gallery__slider {
    flex: 0 0 100%;
    width: 100%;
    padding: 110px 0 0;
    margin: 0 0 30px;
  }

  .gallery__descr {
    position: relative;
    left: 0;
    width: 100%;
  }

  #gallery .swiper-button-prevG ,
  #gallery .swiper-button-nextG {
    top: 49px;
  }

  #gallery .swiper-button-prevG {
    left: -1px;
  }

  #gallery .swiper-button-nextG {
    left: 101px;
  }

  #gallery .swiper-pagination {
    left: 48px;
    top: 58px;
  }

  .gallery__modal-wrap {
    height: 594px;
    top: 27px;
    width: 87%;
  }

  .gallery__modal-img {
    width: 45%;
  }

  .gallery__modal-descr {
    width: 100%;
  }

  .gallery__modal-text {
    width: 88%;
  }

  .catalog {
    padding-bottom: 70px;
  }

  .catalog__items {
    flex-direction: column;
  }

  .catalog__items-accordion {
    order: -1;
    margin-bottom: 50px;
  }

  .catalog__items-card,
  .catalog__items-accordion {
    padding-right: 0;
    padding-left: 0;
  }

  .catalog__descr {
    margin: 0 0 21px;
  }

  .catalog-card__descr_empry {
    width: 60%;
  }

  .accordion-item__body-list {
    max-height: 319px;
  }

  .accordion-item__body-link {
    margin-right: 8%;
  }

  .accordion-item__body-link:nth-last-child(-n+9) {
    margin-right: 0;
  }

  .body-empty__left-bg {
    width: 251px;
    height: 165px;
  }

  .body-empty__right-descr {
    width: 55%;
  }

  .events {
    margin-bottom: 79px;
  }

  .events__title {
    margin: 0 0 16px;
  }

  .event-card__bottom {
    padding: 15px 16px 48px 36px;
    min-height: 483px;
    height: 100%;
  }

  .event-card__bottom-title,
  .event-card__bottom-descr {
    width: 95%;
  }

  .events .swiper-slide:nth-child(3n),
  .events .swiper-slide {
    flex-basis: auto;
  }

  .events__item-location,
  .events__item-date {
    right: -1px;
  }

  .projects {
    margin-bottom: 51px;
  }

  .projects__descr {
    width: 99%;
    margin: 0 0 27px;
  }

  .projects-projects {
    display: none;
  }

  .projects-main {
    display: inline-block;
  }

  .projects__sliderWrap {
    padding: 29px 53px;
  }

  .projects__slides-link {
    height: 106px;
  }

  .icon-1, .icon-2,
  .projects__slides-icon {
    width: 81%;
  }

  .icon-4 {
    width: 36%;
  }

  .icon-3,
  .icon-6 {
    width: 55%;
  }

  #projects .projects__btn-prev,
  #projects .projects__btn-next {
    top: 41%;
  }

  .contacts__top {
    padding-bottom: 30px;
  }

  .contacts__top-form-input {
    width: 48.5%;
    margin-bottom: 12px;
    padding: 15px 23px;
  }

  .contacts__top-form-input_name {
    margin-right: 15px;
  }

  .contacts__top-form-input_tel {
    margin-right: 0;
  }

  .contacts__top-form-btn {
    padding: 10px 28px;
    margin-bottom: 16px;
  }

  .social__title {
    margin: 0 0 6px;
  }
}

@media only screen and (max-width : 620px) {

  .header__title {
    font-size: 62px;
    line-height: 74px;
  }

  .accordion-item__body-list {
    max-height: inherit;
  }

  .accordion-item__body-link ,
  .accordion-item__body-link:nth-last-child(-n+9) {
    margin-right: 0;
  }

  .contacts__top-form-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 10px 23px;
  }

  .contacts__top-form-btn_desktop {
    display: none;
  }

  .contacts__top-form-btn_mobile {
    display: block;
    padding: 10px 33px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
  }

  .js-validate-error-label {
    transform: translateY(-26px);
  }

}

@media only screen and (max-width : 576px) {


  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__top-logo {
    padding: 12px 0 8px;
  }

  .header__logo-img {
    height: 22px;
    left: 3px;
  }

  .header__top-search.is-opened {
    padding: 64px 22px 8px 50px;
  }

  .search-form__input_mobile {
    width: 104%;
  }

  .search-icon {
    position: relative;
    right: 1px;
    top: -1px;
    width: 18px;
  }

  .header__top-burger {
    left: -1px;
    top: 1px;
    width: 24px;
    height: 0;
  }

  .header__top-burger span {
    height: 2px;
  }

  .header__top-burger span:nth-child(2) {
    top: 8px;
    width: 68%;
  }

  .header__top-burger span:nth-child(3) {
    top: 16px;
    width: 43%;
  }

  .header__top-burger.open span:nth-child(2) {
    top: 15px;
  }

  .header__wrap {
    top: 44px;
    height: 300px;
    padding: 45px 15px 15px;
  }
  //
  //.header__wrap.open {
  //  height: 600px;
  //}

  .nav-mobile__link {
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 32px;
  }

  .nav-mobile__btn {
    padding: 9px 25px;
    font-size: 12px;
    line-height: 16px;
  }

  .nav-mobile__lists:not(:last-child) {
    margin-bottom: 0;
  }

  .header__slider-descr {
    padding-top: 34px;
    padding-bottom: 45px;
    align-items: center;
    text-align: center;
  }

  .header__title {
    margin: 0 0 11px;
    font-size: 32px;
    line-height: 38px;
  }

  .header__descr {
    width: 94%;
    margin: 0 0 41px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .header__button {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
  }

  .header-slide-1 {
    background-image: url('../img/main-slider/slider1.jpg');
  }

  .header-slide-2 {
    background-image: url('../img/main-slider/slider2.jpg');
  }

  .header-slide-3 {
    background-image: url('../img/main-slider/slider3.jpg');
  }

  .header__top-search-btn.display-none + .header__top-search {
    padding: 25px 15px 0 50px;
    height: 75px;
  }

  .header__top-search-btn {
    right: -11px;
  }

  .search-form__button {
    top: 0;
    left: 1px
  }

  .search-form__button svg {
    width: 17px;
  }

  .search-form__input {
    position: relative;
    top: -4px;
    left: -3px;
    margin-left: 0;
    padding: 0 5px 1px;
    font-size: 12px;
    line-height: 16px;
  }

  .search-form__close {
    position: relative;
    top: -28px;
    width: 20px;
    margin-left: 32px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
  }

  .about-us {
    padding-top: 51px;
    padding-bottom: 41px;
  }

  .about-us__title {
    margin: 0 0 11px;
  }

  .about-us__descr {
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding: 51px 0 40px;
  }

  .gallery__filter-title {
    margin: 0 0 11px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
  }

  #gallery .choices {
    top: 5px;
    width: 100%;
  }

  .gallery__filter {
    align-self: stretch;
  }

  .gallery__filter .is-open {
    margin: 0 0 100px;
  }

  .gallery__slider {
    padding: 35px 0 0;
    margin: 0 0 70px;
    text-align: center;
  }

  #gallery .swiper-button-prevG,
  #gallery .swiper-button-nextG {
    top: 105%;
  }

  #gallery .swiper-button-prevG {
    left: 27.2%
  }

  #gallery .swiper-button-nextG {
    left: 62.4%;
  }

  #gallery .swiper-pagination {
    top: 107%;
    left: 43%;
    width: 70px;
  }

  #gallery .swiper-button-prevG:after,
  #gallery .swiper-button-nextG:after {
    left: 0;
  }

  .gallery__slider-img:hover::after {
    width: 50%;
    height: 85%;
  }

  .gallery__modal-wrap {
    top: 0;
    width: 90%;
    height: 600px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .gallery__modal-img {
    height: 200px;
    width: 100%;
  }

  .gallery__modal-descr {
    height: 100%;
    padding: 17px 20px 18px 18px;
  }

  .gallery__modal-text {
    width: 99%;
  }

  .gallery__modal-exit {
    top: 3px;
    right: 4px;
  }

  .gallery__modal-year {
    margin: 0 0 4px;
  }

  .catalog {
    padding-top: 50px;
    padding-bottom: 51px;
  }

  .catalog__title {
    margin: 0 0 12px;
  }

  .catalog__descr {
    display: none;
  }

  #catalog .ui-accordion-header {
    padding: 20px 0;
  }

  .accordion-item__head-title,
  .body-empty__right-title {
    font-size: 18px;
    line-height: 32px;
  }

  .ui-accordion-header-active .accordion-item__head-title {
    color: #000
  }

  .accordion-item__head-btn {
    width: 30px;
    height: 30px;
  }

  .accordion-item__head-btn svg {
    transform: scale(0.6);
    position: relative;
    top: 2px;
  }

  .ui-accordion-header-active .accordion-item__head-btn svg {
    right: 2px;
    top: 0;
  }


  #catalog .accordion-item__body {
    padding: 21px 0 20px;
  }

  .accordion-item__body-link {
    flex: 0 0 100%;
  }

  .catalog-card__img {
    margin: 0 0 19px;
  }

  .catalog-card__title {
    margin: 0 0 14px;
  }

  .catalog-card__descr_empry {
    width: 86%;
    margin-bottom: 5px;
  }

  .body-empty__left {
    padding: 6px;
  }

  .body-empty__left-bg {
    width: 79px;
    height: 118px;
  }

  .body-empty__right-descr {
    width: 100%;
    letter-spacing: 0.4px;
  }

  .body-empty__right-link {
    font-size: 16px;
    line-height: 22px;
  }

  .events {
    margin-bottom: 38px;
  }


  .event-card__bottom {
    padding: 17px 16px 47px 22px;
  }

  .events__title {
    margin: 0 0 12px;
    width: 100%;
  }

  .event-card__bottom-title {
    width: 100%;
  }

  .event-card__bottom-descr {
    width: 95%;
  }

  .event-card__bottom-date {
    margin: 0 0 10px;
  }

  .event-card__bottom-location,
  .event-card__bottom-date {
    right: 9px;
  }

  .event-card__bottom-link {
    top: -3px;
    left: 6px;
  }

  .events .events__pagination {
    bottom: 10px;
  }

  #events .swiper-pagination-bullet {
    margin: 0 7.5px;
  }

  .projects {
    margin-bottom: 22px;
  }

  .projects__title {
    margin: 0 0 12px;
  }

  .projects__descr {
    margin: 0 0 10px;
  }

  .tippy-box[data-theme~='blanchard'] {
    top: 2px;
  }

  .projects-main {
    display: none;
  }

  .projects-about {
    display: inline-block;
  }

  .projects__sliderTitle {
    font-size: 18px;
    line-height: 32px;
  }

  .projects__sliderWrap {
    padding: 11px 46px;
  }

  #projects .projects__btn-prev,
  #projects .projects__btn-next {
    top: 33%;
  }

  .projects__slides-icon {
    width: 55%;
  }

  .icon-3,
  .icon-4 {
    width:  36%;
  }

  .icon-6 {
    width:  45%;
  }

  .contacts__wrap {
    border: none;
  }

  .contacts__top {
    padding-top: 20px;
    padding-bottom: 9px;
  }

  .contacts__top-address {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .contacts__top-address-title {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 2px;
  }

  .contacts__top-address-text {
    font-size: 14px;
    line-height: 19px;
  }

  .social__title_normal {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
  }

  .social__icon {
    width: 50px;
    height: 50px;
  }

  .contacts .just-validate-error-label[data-tooltip=true] {
    font-size: 14px;
  }

  .contacts__map {
    height: 320px;
  }

  .footer__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer__social {
    margin-bottom: 18px;
    order: -1;
  }

  .footer__social-icon {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    height: 22px;
    width: auto;
  }
}

@media only screen and (max-width : 480px) {
  .projects__slides-link {
    height: 65px;
  }
}
