
@media only screen and (max-width : 1326px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__second-line_pos,
  .header__nav,
  .login-link {
    display: none;
  }

  .header__nav-mobile,
  .header-top__burger,
  .header__search-link {
    display: inherit;
  }

  .header__search-link.display-none + .header__search-form_mobile {
    transform: translateX(0px);
    opacity: 1;
    align-items: center;
    z-index: 20;
  }

  .header__logo-link {
    padding: 28px 0 26px;
  }

  .header__logo-img {
    position: relative;
    height: 44px;
    left: -3px;
  }

  .header__link {
    font-size: 24px;
  }

  .header__title {
    margin: 114px 0 13px;
    letter-spacing: 3px;
  }

  .header__descr {
    width: 79%;
    margin: 0 0 131px;
  }

  .header__button {
    left: -1px;
    margin-bottom: 114px;
  }

  .button-wrap {
    margin-bottom: 108px;
  }

  .about-us__descr {
    width: 100%;
    margin: 0 0 67px;
  }

  .header-slide-1 {
    background-image: url('../img/main-slider/slider1-md.jpg');
  }

  .header-slide-2 {
    background-image: url('../img/main-slider/slider2-md.jpg');
  }

  .header-slide-3 {
    background-image: url('../img/main-slider/slider3-md.jpg');
  }

  .gallery__descr {
    left: 50px;
  }


}

@media only screen and (max-width : 1200px) {

  .about-us__descr {
    margin: 0 0 69px;
  }

  .gallery__filter {
    flex: 0 0 30.2%;
  }

  .gallery__slider {
    flex: 0 0 67%;
    width: 67%;
  }

  .gallery__descr {
    width: 28%;
    letter-spacing: 0.4px;
  }

  #gallery .swiper-gallery {
    padding: 84px 0 0 25px;
    margin: 0 0 6px;
  }



  .choices[data-type*=select-one]:after {
    right: 13px;
  }

  #gallery .swiper-button-prev {
    left: 25px;
  }

  #gallery .swiper-button-next {
    left: 127px;
  }

  #gallery .swiper-pagination {
    left: 74px;
  }

  .gallery__modal-wrap {
    height: 594px;
  }

  .gallery__modal-img {
    width: 264px;
  }

  .gallery__modal-descr {
    width: 330px;
  }


}


@media only screen and (max-width : 992px) {



  .header__title {
    letter-spacing: 3.5px;
  }

  .header__descr {
    width: 100%;
  }

  .header__search-link.display-none + .header__search-form_mobile {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    justify-content: space-between;
  }

  .search-form__close {
    display: inherit;
    margin-left: 25px;
  }

  .header__search-form_mobile label {
    flex-grow: 1;
    width: 100%;
  }

  .search-form__input_mobile {
    width: 100%;
    margin: 0;
    top: 4px;
  }
  .search-form__button {
    top: 2px;
    position: relative;
    left: -6px
  }

  .mb83 {
    margin-bottom: 81px;
  }

  .about-us__descr {
    margin: 0 0 71px;
  }

  .gallery-wrap {
    flex-direction: column;
  }

  .gallery__filter {
    flex: 0 0 100%;
  }

  .filter-wrap {
    align-items: flex-start;
    min-height: 880px;
  }

  #gallery .choices {
    padding: 6px 13px 8px;
    width: 280px;
  }

  .choices[data-type*=select-one]:after {
    right: 14px;
  }

  .gallery__filter {
    flex: 0 0 100%;
    margin: 0 0 10px;
  }

  .gallery__filter .is-open {
    margin: 0 0 80px;
  }

  .gallery__slider {
    flex: 0 0 100%;
    width: 100%;
  }

  .gallery__descr {
    position: relative;
    left: 0;
    width: 100%;
    letter-spacing: 0.2px;
  }

  #gallery .swiper-gallery {
    padding: 109px 0 0;
    margin: 0 0 30px;
  }

  #gallery .swiper-button-prev ,
  #gallery .swiper-button-next {
    top: 54px;
  }

  #gallery .swiper-button-prev {
    left: -1px;
  }

  #gallery .swiper-button-next {
    left: 101px;
  }

  #gallery .swiper-pagination {
    left: 48px;
    top: 57px;
  }

  .gallery__modal-wrap {
    height: 668px;
  }




}

@media only screen and (max-width : 620px) {

  .header__title {
    font-size: 62px;
    line-height: 74px;
  }

}

@media only screen and (max-width : 576px) {


  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__logo-link {
    padding: 12px 0 8px;
  }

  .header__logo-img {
    height: 22px;
    left: 3px;
  }

  .search-form__icon {
    position: relative;
    right: 1px;
    top: -1px;
    width: 18px;
  }

  #burger {
    left: -1px;
    top: 1px;
    width: 24px;
    height: 0;
  }

  #burger span {
    height: 2px;
  }

  #burger span:nth-child(2) {
    top: 8px;
    width: 68%;
  }

  #burger span:nth-child(3) {
    top: 16px;
    width: 43%;
  }

  #burger.open span:nth-child(2) {
    top: 15px;
  }

  .header__nav-mobile {
    padding: 45px 15px 15px;

  }

  .header__nav-mobile-lists,
  .header__link {
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 32px;
  }

  .header__nav-mobile-button {
    padding: 9px 25px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__nav-mobile-list:not(:last-child) {
    margin-bottom: 0;
  }


  .header__slider-descr {
    align-items: center;
    text-align: center;
  }

  .header__title {
    width: 100%;
    margin: 33px 0 11px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1.4px;
  }

  .header__descr {
    width: 100%;
    margin: 0 0 42px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .header__button {
    padding: 12px 29px;
    margin-bottom: 45px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
  }

  .header-slide-1 {
    background-image: url('../img/main-slider/slider1.jpg');
  }

  .header-slide-2 {
    background-image: url('../img/main-slider/slider2.jpg');
  }

  .header-slide-3 {
    background-image: url('../img/main-slider/slider3.jpg');
  }

  .header__search-link.display-none + .header__search-form_mobile {
    padding: 25px 15px 0 50px;
    height: 75px;
  }

  .header__search-link {
    right: -11px;
  }

  .search-form__button {
    top: 0px;
    left: 1px
  }

  .search-form__button svg {
    width: 17px;
  }

  .search-form__input {
    position: relative;
    top: -4px;
    left: -3px;
    margin-left: 0px;
    padding: 0 5px 1px;
    font-size: 12px;
    line-height: 16px;
  }

  .search-form__close {
    position: relative;
    top: -28px;
    width: 20px;
    margin-left: 32px;
  }

  .mb83 {
    margin-bottom: 51px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
  }

  .about-us__title {
    margin: 0 0 11px;
  }

  .about-us__descr {
    width: 100%;
    margin: 0px 0 41px;
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding: 51px 0 40px;
  }

  .gallery__filter-title {
    margin: 0 0 11px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
  }

  #gallery .choices {
    top: 5px;
    width: 100%;
  }

  .gallery__filter {
    align-self: stretch;
  }

  .gallery__filter .is-open {
    margin: 0 0 100px;
  }


  .gallery__slider {
    text-align: center;
  }


  #gallery .swiper-gallery {
    padding: 34px 0 50px;
    margin: 0 0 18px;
  }

  #gallery .swiper-button-prev,
  #gallery .swiper-button-next {
    top: 94%;
  }

  #gallery .swiper-button-prev {
    left: 27.2%
  }

  #gallery .swiper-button-next {
    left: 62.4%;
  }

  #gallery .swiper-pagination {
    top: 94.6%;
    left: 43%;
    width: 70px;
  }


  .gallery__slider-img:hover::after {
    width: 50%;
    height: 85%;

  }

  .gallery__modal-wrap {
    width: 290px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .gallery__modal-img {
    height: 230px;
    width: 100%;
  }

  .gallery__modal-descr {
    height: 200px;
    width: 100%;
    padding: 20px;
  }

  .gallery__modal-year {
    margin: 0 0 4px;
  }




}

@media only screen and (max-width : 480px) {



}
