
@media only screen and (max-width : 1326px) {
  .header__down-wrap,
  .header__top-nav,
  .login-link {
    display: none;
  }

  .header__top-nav-mobile,
  .header__top-burger,
  .header__top-search-btn {
    display: inherit;
  }

  .header__top-logo {
    padding: 29px 0 26px;
    margin-right: 10px;
  }

  .header__logo-img {
    width: 187px;
  }

  .nav-mobile__link {
    font-size: 24px;
  }

  .header__slider-descr {
    padding-top: 113px;
    padding-bottom: 113px;
  }

  .header__title {
    margin: 0 0 13px;
    width: 100%;
  }

  .header__descr {
    width: 79%;
    margin: 0 0 132px;
  }

  .header__top-search.is-opened {
    display: flex;
    animation-name: search-open;
    animation-duration: .3s;
    background-color: #000;
  }

  .header__top-search.is-closed {
    animation-name: search-close;
    animation-duration: .3s;
  }


  .button-wrap {
    margin-bottom: 108px;
  }

  .about-us {
    padding-bottom: 69px;
  }

  .about-us__descr {
    width: 100%;
  }

  .header-slide-1 {
    background-image: url('../img/main-slider/slider1-md.jpg');
  }

  .header-slide-2 {
    background-image: url('../img/main-slider/slider2-md.jpg');
  }

  .header-slide-3 {
    background-image: url('../img/main-slider/slider3-md.jpg');
  }

  .gallery__descr {
    left: 50px;
  }


}

@media only screen and (max-width : 1200px) {

  .gallery__filter {
    flex: 0 0 30.2%;
  }

  .gallery__slider {
    flex: 0 0 67%;
    width: 67%;
  }

  .gallery__descr {
    width: 28%;
    letter-spacing: 0.4px;
  }

  #gallery .swiper-gallery {
    padding: 84px 0 0 25px;
    margin: 0 0 6px;
  }

  .choices[data-type*=select-one]:after {
    right: 13px;
  }

  #gallery .swiper-button-prev {
    left: 25px;
  }

  #gallery .swiper-button-next {
    left: 127px;
  }

  #gallery .swiper-pagination {
    left: 74px;
  }

  .gallery__modal-wrap {
    height: 594px;
  }

  .gallery__modal-img {
    width: 264px;
  }

  .gallery__modal-descr {
    width: 330px;
  }


}


@media only screen and (max-width : 992px) {

  .header__descr {
    width: 100%;
  }

  .header__top-search label {
    flex-grow: 1;
    width: 100%;
  }

  .header__top-search.is-opened {
    width: 100%;
    padding: 36px 54px 29px 50px;
    right: 0;
    z-index: 20;
  }

  .search-form__input_mobile {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .search-form__button {
    position: relative;
    top: 0;
    left: -6px
  }

  .search-form__close {
    position: relative;
    top: -4px;
    left: 6px;
    margin-left: 18px;
    width: 33px;
    height: 33px;
  }


  .gallery-wrap {
    flex-direction: column;
  }

  .gallery__filter {
    flex: 0 0 100%;
  }

  .filter-wrap {
    align-items: flex-start;
    min-height: 880px;
  }

  #gallery .choices {
    padding: 6px 13px 8px;
    width: 280px;
  }

  .choices[data-type*=select-one]:after {
    right: 14px;
  }

  .gallery__filter {
    flex: 0 0 100%;
    margin: 0 0 10px;
  }

  .gallery__filter .is-open {
    margin: 0 0 80px;
  }

  .gallery__slider {
    flex: 0 0 100%;
    width: 100%;
  }

  .gallery__descr {
    position: relative;
    left: 0;
    width: 100%;
    letter-spacing: 0.2px;
  }

  #gallery .swiper-gallery {
    padding: 109px 0 0;
    margin: 0 0 30px;
  }

  #gallery .swiper-button-prev ,
  #gallery .swiper-button-next {
    top: 54px;
  }

  #gallery .swiper-button-prev {
    left: -1px;
  }

  #gallery .swiper-button-next {
    left: 101px;
  }

  #gallery .swiper-pagination {
    left: 48px;
    top: 57px;
  }

  .gallery__modal-wrap {
    height: 668px;
  }




}

@media only screen and (max-width : 620px) {

  .header__title {
    font-size: 62px;
    line-height: 74px;
  }

}

@media only screen and (max-width : 576px) {


  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__top-logo {
    padding: 12px 0 8px;
  }

  .header__logo-img {
    height: 22px;
    left: 3px;
  }

  .header__top-search.is-opened {
    padding: 64px 22px 8px 50px;
  }

  .search-form__input_mobile {
    width: 104%;
  }

  .search-icon {
    position: relative;
    right: 1px;
    top: -1px;
    width: 18px;
  }

  #burger {
    left: -1px;
    top: 1px;
    width: 24px;
    height: 0;
  }

  #burger span {
    height: 2px;
  }

  #burger span:nth-child(2) {
    top: 8px;
    width: 68%;
  }

  #burger span:nth-child(3) {
    top: 16px;
    width: 43%;
  }

  #burger.open span:nth-child(2) {
    top: 15px;
  }

  .header__top-nav-mobile {
    padding: 45px 15px 15px;

  }

  .nav-mobile__link {
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 32px;
  }

  .nav-mobile__btn {
    padding: 9px 25px;
    font-size: 12px;
    line-height: 16px;
  }

  .nav-mobile__lists:not(:last-child) {
    margin-bottom: 0;
  }


  .header__slider-descr {
    padding-top: 34px;
    padding-bottom: 45px;
    align-items: center;
    text-align: center;
  }

  .header__title {
    margin: 0 0 11px;
    font-size: 32px;
    line-height: 38px;
  }

  .header__descr {
    width: 94%;
    margin: 0 0 41px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .header__button {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
  }

  .header-slide-1 {
    background-image: url('../img/main-slider/slider1.jpg');
  }

  .header-slide-2 {
    background-image: url('../img/main-slider/slider2.jpg');
  }

  .header-slide-3 {
    background-image: url('../img/main-slider/slider3.jpg');
  }

  .header__top-search-btn.display-none + .header__top-search {
    padding: 25px 15px 0 50px;
    height: 75px;
  }

  .header__top-search-btn {
    right: -11px;
  }

  .search-form__button {
    top: 0;
    left: 1px
  }

  .search-form__button svg {
    width: 17px;
  }

  .search-form__input {
    position: relative;
    top: -4px;
    left: -3px;
    margin-left: 0;
    padding: 0 5px 1px;
    font-size: 12px;
    line-height: 16px;
  }

  .search-form__close {
    position: relative;
    top: -28px;
    width: 20px;
    margin-left: 32px;
  }


  .section-title {
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
  }

  .about-us {
    padding-top: 51px;
    padding-bottom: 41px;
  }

  .about-us__title {
    margin: 0 0 11px;
  }

  .about-us__descr {
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding: 51px 0 40px;
  }

  .gallery__filter-title {
    margin: 0 0 11px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
  }

  #gallery .choices {
    top: 5px;
    width: 100%;
  }

  .gallery__filter {
    align-self: stretch;
  }

  .gallery__filter .is-open {
    margin: 0 0 100px;
  }


  .gallery__slider {
    text-align: center;
  }


  #gallery .swiper-gallery {
    padding: 34px 0 50px;
    margin: 0 0 18px;
  }

  #gallery .swiper-button-prev,
  #gallery .swiper-button-next {
    top: 94%;
  }

  #gallery .swiper-button-prev {
    left: 27.2%
  }

  #gallery .swiper-button-next {
    left: 62.4%;
  }

  #gallery .swiper-pagination {
    top: 94.6%;
    left: 43%;
    width: 70px;
  }


  .gallery__slider-img:hover::after {
    width: 50%;
    height: 85%;

  }

  .gallery__modal-wrap {
    width: 290px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .gallery__modal-img {
    height: 230px;
    width: 100%;
  }

  .gallery__modal-descr {
    height: 200px;
    width: 100%;
    padding: 20px;
  }

  .gallery__modal-year {
    margin: 0 0 4px;
  }




}

@media only screen and (max-width : 480px) {



}
